.nav-icons {
    margin: 6px 0px 6px 0px;
}
.icon {
    margin: 0px 10px 0px 5px;
    color: black;
    font-size: calc(12px + 1vw);
    cursor: pointer;
}
.button {
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    background-color: #FF7300;
    margin: 30px -150px;
    display: inline-block;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.button:hover {
    background: #777555;
}

.link {
    text-decoration: none;
    color: white;
}